.the-cart{
    .cart-item{
        padding: 10px;
        border-radius: 5px;
        .flexbox{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-around;
            align-items: center;

            .prod-name{
                flex-basis: 50%;
                h4{ margin-bottom: 0px; }
                p{ margin-bottom: 0px; }
            }
        }

    }
    .cart-item:hover{
        background-color: #f0f3f5;
    }
    .cart-total{
        width: 95%;
        tr span{
            font-size: 18px;
        }
    }
    .checkout-now{
        padding: 10px 30px;
        margin-bottom: 10px;
    }
}
